{% load static %}


{% comment %} <form method="post">
    {% csrf_token %}
    <div>
        <label for="title">Job Title:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="company">Company Name:</label>
        <input type="text" id="company" name="company" required>
    </div>
    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
    </div>
    <div>
        <label for="description">Job Description:</label>
        <textarea id="description" name="description" required></textarea>
    </div>
    <button type="submit">Submit Job</button>

</form> {% endcomment %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Board</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
     <link rel="shortcut icon" type="image/x-icon" href="{% static '../static/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

  </head>

  <body>

    <!-- header-start -->
    <header>
      <div class="header-area">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-2">
                  <div class="logo">
                    <a>
                      <img src="{% static '../static/img/logo.png' %}" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li>
                          <a href="#"> Jobs <i class="ti-angle-down"></i></a>
                          <ul class="submenu">
                            <li><a href="{% url 'jobs' %}">job Available </a></li>
                            </ul>
                        </li>
                        <li>
                          <a href="#">blog <i class="ti-angle-down"></i></a>
                          <ul class="submenu">
                            <li><a href="{% url 'blog' %}">blog</a></li>
                            <li><a href="{% url 'single_blog' %}">single-blog</a></li>
                          </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="Appointment">
                    <div class="phone_num d-none d-xl-block">
                      <a href="#">Log in</a>
                    </div>
                    <div class="d-none d-lg-block">
                      <a class="boxed-btn3" href="#">Post a Job</a>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="bradcam_text">
              <h3>Software Engineer</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="apply_job_form white-bg">
              <h4>Post A Job</h4>

              <form action="#" method= POST>
                {% csrf_token %} 
                {{JobForm}}
                <div class="row">
                  <div class="col-md-6">
                    <div class="input_field">
                      <input type="text" placeholder="Title" name = title />
                      <input type="text" placeholder="Job type" name = job_type />
                      <input type="number" placeholder="Vacancy" name = vacancy />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input_field">
                      <input type="text" placeholder="Location" name = Location />
                      <input type="number" placeholder="Salary" name = Salary />
                      <input type="number" placeholder="Experience" name = experience />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input_field">
                     <input type="text" placeholder="Category" name = category />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input_field">
                      <input type="text" placeholder="Description" name = description />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="submit_btn">
                      <button class="boxed-btn3 w-100" value="save">
                        Apply Now
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>

    <!-- footer start -->
    <footer class="footer">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-3">
              <div
                class="footer_widget wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".3s"
              >
                <div class="footer_logo">
                  <a>
                    <img src="{% static '../static/img/logo.png' %}" alt="" />
                  </a>
                </div>
                <p>
                  finloan@support.com <br />
                  +10 873 672 6782 <br />
                  600/D, Green road, NewYork
                </p>
                <div class="socail_links">
                  <ul>
                    <li>
                      <a>
                        <i class="ti-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-2">
              <div
                class="footer_widget wow fadeInUp"
                data-wow-duration="1.1s"
                data-wow-delay=".4s"
              >
                <h3 class="footer_title">Company</h3>
                <ul>
                  <li><a href="#">About </a></li>
                  <li><a href="#"> Pricing</a></li>
                  <li><a href="#">Carrier Tips</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
              <div
                class="footer_widget wow fadeInUp"
                data-wow-duration="1.2s"
                data-wow-delay=".5s"
              >
                <h3 class="footer_title">Category</h3>
                <ul>
                  <li><a href="#">Design & Art</a></li>
                  <li><a href="#">Engineering</a></li>
                  <li><a href="#">Sales & Marketing</a></li>
                  <li><a href="#">Finance</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div
                class="footer_widget wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay=".6s"
              >
                <h3 class="footer_title">Subscribe</h3>
                <form action="#" class="newsletter_form">
                  <input type="text" placeholder="Enter your mail" />
                  <button type="submit">Subscribe</button>
                </form>
                <p class="newsletter_text">
                  Esteem spirit temper too say adieus who direct esteem esteems
                  luckily.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="copy-right_text wow fadeInUp"
        data-wow-duration="1.4s"
        data-wow-delay=".3s"
      >
        <div class="container">
          <div class="footer_border"></div>
          <div class="row">
            <div class="col-xl-12">
              <p class="copy_right text-center">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved |
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="https://github.com/abdalahhamwi" target="_blank"
                  >Abalah Hamwi</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--/ footer end  -->
  </body>
</html>
