{% extends 'base.html' %}
{% block body %}
{% load bootstrap4 %}
  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1"></div>
  <!--/ bradcam_area  -->
 <div class="job_details_area">
      <div class="container">
          <div>
            <div class="apply_job_form white-bg">
               <div class="apply_job_form white-bg">
              <form method= "POST" >
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
               <button class="boxed-btn3 w-100" type="submit">
                        login
                      </button>
                      {# Assumes you set up the password_reset view in your URLConf #}
                      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
              {% endbuttons %}
            </div>
            </form>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>



  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

{% endblock %}